@import "@solana/wallet-adapter-react-ui/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 89% 94%;
    --foreground: 255 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 255 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 255 10% 10%;
    --primary: 255 96% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 255 90% 88%;
    --secondary-foreground: 255 96% 63%;
    --muted: 255 90% 92%;
    --muted-foreground: 255 10% 40%;
    --accent: 197 99% 66%;
    --accent-foreground: 255 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 96% 83%;
    --input: 0 0% 100%;
    --ring: 255 96% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 255 15% 10%;
    --foreground: 248 89% 94%;
    --card: 255 15% 15%;
    --card-foreground: 248 89% 94%;
    --popover: 255 15% 10%;
    --popover-foreground: 248 89% 94%;
    --primary: 255 96% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 255 20% 25%;
    --secondary-foreground: 248 89% 94%;
    --muted: 255 20% 25%;
    --muted-foreground: 248 89% 70%;
    --accent: 197 99% 66%;
    --accent-foreground: 255 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 15% 25%;
    --input: 255 15% 25%;
    --ring: 255 96% 63%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
